[Desktop Entry]
Name=Savant
X-KDE-PluginInfo-Name=savant
X-KDE-PluginInfo-Author=SavantOS
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-EnabledByDefault=true
